@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Trang chủ";
    //Layout = "_Layout";
}
@model TemplateViewModel;
<h1 id="tokenId" style="display:none">@ViewData["Id"]</h1>
<h1 id="campainId" style="display:none">@Model.CampainId</h1>
<!-- Team-->
<section class="page-section bg-light" id="team">
	<div class="box-step">
		<div class="box-step-wrap fadeInUp visible">
			
			<div id="fingerprint-data">
				<div class="fingerprint-header-container">
					<div class="fingerprint-header">
						<div class="ellipsis-all">   </div>
					</div>
				</div>
			</div>
			<div class="heading -lv2 fadeInUp visible">
				<h2>LÀM THEO CÁC BƯỚC <br class="is-visibleSp"> ĐỂ LẤY LINK TRUY CẬP</h2>
			</div>
			<div class="mt-2">
				<span class="text-danger">Lưu ý : Khi hệ thống đếm giây không được chuyển tab, nếu không sẽ lỗi. Có lỗi sảy ra làm lại từng bước làm OK</span>
			</div>
			
			@if (Model.Flatfrom == "google")
			{
				<div class="box-step-note fadeInUp d-none visible">
					<span>Ghi chú:</span>
					<p>Vị trí của từ khóa là ở top <t id="top" class="text-danger fw-bold"></t> Google!</p>
				</div>
				<p class="box-step-link fadeInUp visible"><a href="#videohd">Xem video hướng dẫn cách lấy mã</a></p>
				<p class="box-step-title fadeInUp visible">Bước 1: Mở tab mới, truy cập <a>Google.com</a></p>
				<p class="fadeInUp visible">(Vui lòng tắt chế độ ẩn danh khi vượt mã)</p>
				<p class="box-step-title fadeInUp visible">Bước 2: Hãy nhớ từ khóa trong ô dưới đây.</p>
				<div class="box-copy fadeInUp mb-3 visible">
					<div class="box-copy-content">
						<p class="box-copy-code" id="TK1">@Model.Key</p>
						<p class="box-copy-button" id="copyCode" onclick="copyKeyGoogle()"><img src="https://yeumoney.com/theme_v2/assets/img/icn-copy.svg" alt="" class="img-fluid"> Copy</p>
						<span id="TK2" data-clipboard-text="@Model.Key"></span>
					</div>
					<p class="message" id="copyMessage"></p>
				</div>
				<p class="box-step-title fadeInUp visible">Bước 3: Gõ từ khóa trên vào tìm kiếm Google</p>
				<div class="box-google fadeInUp visible">
					<div>
						<span class="position-relative display-inline-block">
							<img src="https://yeumoney.com/theme_v2/assets/img/img-tim-kiem-04.webp" alt="" class="img-fluid">
							<span class="position-absolute" id="TK3">@Model.Key</span>
						</span>
					</div>
					<p class="box-google-text">
						<img src="https://yeumoney.com/theme_v2/assets/img/icn-search.svg" alt="" class="img-fluid">
						Tìm rồi bấm vào kết quả giống hình bên dưới
					</p>
					<!-- <p class="box-google-text text-danger fw-normal">
						Hiện tại nhà mạng VNPT, FPT, Vinaphone đã chặn website này. Vui lòng đổi nhà mạng khác để truy cập
					</p> -->
					<span><img id="hinh_nv" src="@Model.UrlImage" alt="" class="img-fluid rounded"></span>

					<div id="halt"></div>

					<p class="box-google-note">Nếu không vào được trang vui lòng đổi trình duyệt khác hoặc xoá cache trình duyệt</p>
					<span><img src="/uploads/img-tim-kiem-03.webp" alt="" class="img-fluid"></span>
					<p class="box-google-note">(Trang 1 không thấy thì tìm qua trang 2 nhé)</p>
				</div>
				<p class="box-step-title fadeInUp visible">Bước 4: Cuộn chậm từ trên xuống tìm nút như hình bên dưới và sau đó click vào</p>
				<p class="box-step-getCode fadeInUp mt-1 visible">
					<span><img src="/uploads/laymabutton.png" alt="" class="img-fluid"></span>
					<span class="text-danger">(Nếu không thấy nút lấy mã, vui lòng trở lại <br class="is-visibleSp">Google và bấm vào website 1 lần nữa)</span>
				</p>
				<p class="box-step-title fadeInUp visible">Bước 5: Sao chép mã hiện ra và nhập vào ô bên dưới</p>
				<a id="xuong"></a>
			}
			else
			{
				<p class="box-step-title fadeInUp visible">Bước 1: Mở tab mới, truy cập liên kết(Vui lòng copy liên kết)</p>
				
				<div class="box-linkFB-wrap">
					<code id="linkFB">@Model.UrlFacebook</code>
				</div>
				<div class="box-btn-copy">
					<button id="copyUrlFB" onclick="copyUrlFB()">Copy</button>
				</div>
				
				<p class="box-step-title fadeInUp visible">Bước 2: Truy cập liên kết trong bài viết Facebook</p>
				<span><img src="@Model.UrlImage" alt="" class="img-fluid"></span>
				<p class="box-google-note">(Truy cập link như trong hình)</p>
				<p class="box-step-title fadeInUp visible">Bước 3: Khi website mở ra,hãy cuộn chậm từ trên xuống tìm nút như hình bên dưới và sau đó click vào</p>
				<p class="box-step-getCode fadeInUp mt-1 visible">
					<span><img src="/uploads/laymabutton.png" alt="" class="img-fluid"></span>
					<span class="text-danger">(Nếu không thấy nút lấy mã, vui lòng trở lại <br class="is-visibleSp">Facebook và bấm vào link website 1 lần nữa)</span>
				</p>
				<p class="box-step-title fadeInUp visible">Bước 4: Sao chép mã hiện ra và nhập vào ô bên dưới</p>
				<a id="xuong"></a>
			}
			
			<div class="box-form">
				<div class="">
					<div class="box-form-wrap">
						<input type="text" class="form-control" id="codeInput" name="code" required="required" placeholder="Nhập mã vào đây">
					</div>
					<div class="mt-3">
						<div class="g-recaptcha" data-sitekey="@ViewData["SiteKey"]"></div><br>
						<span class="text-danger">Lưu ý : Khi hệ thống đếm giây không được chuyển tab, nếu không sẽ lỗi. Có lỗi sảy ra làm lại từng bước làm OK</span>
					</div>
					<div class="box-form-button mt-3">
						<button type="submit" class="btn btn-primary" id="btn-xac-nhan" onclick="confirm1();">Xác nhận</button>
						<a id="btn-baoloi" class="btn btn-success" onclick="clickDoiNhiemVu();">Đổi nhiệm vụ</a>
					</div>	
				</div>
			</div>

			<a id="videohd"></a>
			<div class="box-video fadeInUp visible">
				<p class="box-video-title fadeInUp visible">VIDEO HƯỚNG DẪN CÁCH LẤY MÃ</p>
				<div class="box-video-youtube fadeInUp visible">
					@if (Model.Flatfrom == "google")
					{
						<iframe style="width:100%; aspect-ratio:0.452;" src="/uploads/google.mp4"></iframe>
					}
					else
					{
						<iframe style="width:100%; aspect-ratio:0.452;" src="/uploads/video_fb_hd.mp4"></iframe>
					}
					
					
				</div>
			</div>



			<!-- ----------------------------  Custom css ------------------------------ -->
			<style>
				.css-lam-mo {
					background: rgba(0, 0, 0, 0.8);
					z-index: 51;
					position: fixed;
					bottom: 0px;
					left: 0px;
					right: 0px;
					top: 0px;
				}

				.my-vien-ngoai {
					margin: auto;
					background: #ffffff;
					width: 100%;
					max-width: 320px;
					border-radius: 6px;
					z-index: 52;
					position: fixed;
					top: 17%;
					right: 5%;
					left: 5%;
				}

				.vien-vip {
					height: unset !important;
					padding: 15px 15px 15px 15px;
					overflow-x: auto
				}

				.tat {
					float: right;
					padding-right: 5px;
					font-size: 22px;
					margin-top: -5px;
				}
				/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeNhiemVu {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.closeNhiemVu:hover,
.closeNhiemVu:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
					background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;text-align:center}

.modal-footer {
  padding: 2px 16px;
					background-color: #5cb85c;
  color: white;
}
			</style>

			
			


			<!-- --------------------------------- Kết quả -------------------------------- -->

			<span id="ketqua"></span>
		</div>
	</div>
</section>
<div id="myModalThongbao" class="modal">
	<div class="modal-content">
		<div id="modalHeader" class="modal-header">
			<h2>Thông báo</h2>
			<span class="close">&times;</span>
		</div>
		<div class="modal-body">
			<p id="noidung"></p>
			<p id="countRedirect" style="display:none;font-size:30px"></p>
		</div>
		<div id="modalFooter" class="modal-footer">
			<button type="submit" class="btn btn-success" id="redirect">OK</button>
			<button type="submit" class="btn btn-primary" id="closeThongBao" onclick="closeThongBao();">Đóng</button>
		</div>
	</div>
</div>
<div id="myModalNhiemVu" class="modal">
	<div class="modal-content">
		<div id="modalHeaderNhiemVu" class="modal-header">
			<h2>Đổi Nhiệm Vụ</h2>
			<span class="closeNhiemVu">&times;</span>
		</div>
		<div class="modal-body">
			<p id="noidungNhiemVu">Bạn có chắc muốn đổi nhiệm vụ?</p>
		</div>
		<div id="modalFooterNhiemVu" class="modal-footer">
			<button type="submit" class="btn btn-primary" onclick="doiNhiemVu();">Xác nhận</button>
			<button type="submit" class="btn btn-success" onclick="closeDoiNhiemVu();">Đóng</button>
		</div>
	</div>
</div>
@* @section Scripts {
						@if (Model.Captcha.IsEnabled)
						{
							@if (Model.Captcha.IsVersion2())
							{
								<script src="https://www.google.com/recaptcha/api.js" defer></script>
							}

							@if (Model.Captcha.IsVersion3())
							{
								<script src="https://www.google.com/recaptcha/api.js?render=@Model.Captcha.SiteKey"></script>
								<script>
									function onSubmit(token) {
										console.log(token)
									}
								</script>
							}
						}
					} *@
<script>
	
	const ajax = function(url, method = 'GET', data, onSuccess = null, onError = null, onDone = null) {
        let postData = JSON.stringify(data);
        let xhr = new XMLHttpRequest();

        xhr.open(method, url, true);
        xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8');
        xhr.send(postData);
        console.log(postData);

        xhr.addEventListener('load', function(event) {
            if (onSuccess) onSuccess(JSON.parse(event.target.response));
            if (onDone) onDone();
        });

        xhr.addEventListener('error', function(event) {
            if (onError) onError(event);
            if (onDone) onDone();
        });
    }

    const ajaxGet = function(url, onSuccess = null, onError = null, onDone = null) {
        return ajax(url, 'GET', [], onSuccess, onError, onDone);
    }

    const ajaxPost = function(url, data, onSuccess = null, onError = null, onDone = null) {
        return ajax(url, 'POST', data, onSuccess, onError, onDone);
    }
	const uuidv4 = function() {
        if (typeof crypto == 'object') {
            return uuidv4ByCrypto();
        }

        return uuidv4ByMath();
    }
	const uuidv4ByMath = function() {
        let d = new Date().getTime();//Timestamp
        let d2 = ((typeof performance !== 'undefined') && performance.now && (performance.now()*1000)) || 0;//Time in microseconds since page-load or 0 if unsupported
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            let r = Math.random() * 16;//random number between 0 and 16
            if(d > 0){//Use timestamp until depleted
                r = (d + r)%16 | 0;
                d = Math.floor(d/16);
            } else {//Use microseconds since page-load if supported
                r = (d2 + r)%16 | 0;
                d2 = Math.floor(d2/16);
            }
            return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
        });
    }

    const uuidv4ByCrypto = function() {
        return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, function (c) {
            return (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
        });
    }
	const getVisitorUUID = function () {
		let uuid;

		try {
			uuid = localStorage.getItem("__" + '@Html.Raw(ViewData["Id"])' + "_uuid");
			if (uuid === null) {
				uuid = uuidv4();
				localStorage.setItem("__" + '@Html.Raw(ViewData["Id"])' + "_uuid", uuid);
			}
		} catch (e) {
			uuid = uuidv4();
		}

		return uuid;
	}

	const getVisitorInfo = function () {
		var unknown = "-";
		var screenSize = "";
		if (screen.width) {
			width = screen.width ? screen.width : "";
			height = screen.height ? screen.height : "";
			screenSize += "" + width + " x " + height;
		}
		var nVer = navigator.appVersion;
		var nAgt = navigator.userAgent;
		var browser = navigator.appName;
		var version = "" + parseFloat(navigator.appVersion);
		var majorVersion = parseInt(navigator.appVersion, 10);
		var nameOffset, verOffset, ix;
		if ((verOffset = nAgt.indexOf("Opera")) != -1) {
			browser = "Opera";
			version = nAgt.substring(verOffset + 6);
			if ((verOffset = nAgt.indexOf("Version")) != -1) {
				version = nAgt.substring(verOffset + 8);
			}
		}
		if ((verOffset = nAgt.indexOf("OPR")) != -1) {
			browser = "Opera";
			version = nAgt.substring(verOffset + 4);
		} else if ((verOffset = nAgt.indexOf("MSIE")) != -1) {
			browser = "Microsoft Internet Explorer";
			version = nAgt.substring(verOffset + 5);
		} else if ((verOffset = nAgt.indexOf("Chrome")) != -1) {
			browser = "Chrome";
			version = nAgt.substring(verOffset + 7);
		} else if ((verOffset = nAgt.indexOf("Safari")) != -1) {
			browser = "Safari";
			version = nAgt.substring(verOffset + 7);
			if ((verOffset = nAgt.indexOf("Version")) != -1) {
				version = nAgt.substring(verOffset + 8);
			}
		} else if ((verOffset = nAgt.indexOf("Firefox")) != -1) {
			browser = "Firefox";
			version = nAgt.substring(verOffset + 8);
		} else if (nAgt.indexOf("Trident/") != -1) {
			browser = "Microsoft Internet Explorer";
			version = nAgt.substring(nAgt.indexOf("rv:") + 3);
		} else if (
			(nameOffset = nAgt.lastIndexOf(" ") + 1) <
			(verOffset = nAgt.lastIndexOf("/"))
		) {
			browser = nAgt.substring(nameOffset, verOffset);
			version = nAgt.substring(verOffset + 1);
			if (browser.toLowerCase() == browser.toUpperCase()) {
				browser = navigator.appName;
			}
		}
		if ((ix = version.indexOf(";")) != -1) version = version.substring(0, ix);
		if ((ix = version.indexOf(" ")) != -1) version = version.substring(0, ix);
		if ((ix = version.indexOf(")")) != -1) version = version.substring(0, ix);
		majorVersion = parseInt("" + version, 10);
		if (isNaN(majorVersion)) {
			version = "" + parseFloat(navigator.appVersion);
			majorVersion = parseInt(navigator.appVersion, 10);
		}
		var mobile = /Mobile|mini|Fennec|Android|iP(ad|od|hone)/.test(nVer);
		var cookieEnabled = navigator.cookieEnabled ? true : false;
		if (typeof navigator.cookieEnabled == "undefined" && !cookieEnabled) {
			document.cookie = "testcookie";
			cookieEnabled =
				document.cookie.indexOf("testcookie") != -1 ? true : false;
		}
		var os = unknown;
		var clientStrings = [{
			s: "Windows 10",
			r: /(Windows 10.0|Windows NT 10.0)/
		},
		{
			s: "Windows 8.1",
			r: /(Windows 8.1|Windows NT 6.3)/
		},
		{
			s: "Windows 8",
			r: /(Windows 8|Windows NT 6.2)/
		},
		{
			s: "Windows 7",
			r: /(Windows 7|Windows NT 6.1)/
		},
		{
			s: "Windows Vista",
			r: /Windows NT 6.0/
		},
		{
			s: "Windows Server 2003",
			r: /Windows NT 5.2/
		},
		{
			s: "Windows XP",
			r: /(Windows NT 5.1|Windows XP)/
		},
		{
			s: "Windows 2000",
			r: /(Windows NT 5.0|Windows 2000)/
		},
		{
			s: "Windows ME",
			r: /(Win 9x 4.90|Windows ME)/
		},
		{
			s: "Windows 98",
			r: /(Windows 98|Win98)/
		},
		{
			s: "Windows 95",
			r: /(Windows 95|Win95|Windows_95)/
		},
		{
			s: "Windows NT 4.0",
			r: /(Windows NT 4.0|WinNT4.0|WinNT|Windows NT)/
		},
		{
			s: "Windows CE",
			r: /Windows CE/
		},
		{
			s: "Windows 3.11",
			r: /Win16/
		},
		{
			s: "Android",
			r: /Android/
		},
		{
			s: "Open BSD",
			r: /OpenBSD/
		},
		{
			s: "Sun OS",
			r: /SunOS/
		},
		{
			s: "Linux",
			r: /(Linux|X11)/
		},
		{
			s: "iOS",
			r: /(iPhone|iPad|iPod)/
		},
		{
			s: "Mac OS X",
			r: /Mac OS X/
		},
		{
			s: "Mac OS",
			r: /(MacPPC|MacIntel|Mac_PowerPC|Macintosh)/
		},
		{
			s: "QNX",
			r: /QNX/
		},
		{
			s: "UNIX",
			r: /UNIX/
		},
		{
			s: "BeOS",
			r: /BeOS/
		},
		{
			s: "OS/2",
			r: /OS\/2/
		},
		{
			s: "Search Bot",
			r: /(nuhk|Googlebot|Yammybot|Openbot|Slurp|MSNBot|Ask Jeeves\/Teoma|ia_archiver)/,
		},
		];
		for (var id in clientStrings) {
			var cs = clientStrings[id];
			if (cs.r.test(nAgt)) {
				os = cs.s;
				break;
			}
		}
		var osVersion = unknown;
		if (/Windows/.test(os)) {
			osVersion = /Windows (.*)/.exec(os)[1];
			os = "Windows";
		}
		switch (os) {
			case "Mac OS X":
				osVersion = /Mac OS X (10[\.\_\d]+)/.exec(nAgt)[1];
				break;
			case "Android":
				osVersion = /Android ([\.\_\d]+)/.exec(nAgt)[1];
				break;
			case "iOS":
				osVersion = /OS (\d+)_(\d+)_?(\d+)?/.exec(nVer);
				osVersion =
					osVersion[1] + "." + osVersion[2] + "." + (osVersion[3] | 0);
				break;
		}
		if (typeof swfobject != "undefined") {
			var fv = swfobject.getFlashPlayerVersion();
			if (fv.major > 0) {
				flashVersion = fv.major + "." + fv.minor + " r" + fv.release;
			} else {
				flashVersion = unknown;
			}
		}

		return {
			uuid: getVisitorUUID(),
			browser: browser,
			browserVersion: version,
			browserMajorVersion: majorVersion,
			cookies: cookieEnabled,
			mobile: mobile,
			os: os,
			osVersion: osVersion,
			screen: screenSize,
			userAgent: nAgt
		};
	}
	// Get the modal
	var modalThongbao = document.getElementById("myModalThongbao");

	// Get the <span> element that closes the modal
	var spanThongbao = document.getElementsByClassName("close")[0];

	// When the user clicks on <span> (x), close the modal
	spanThongbao.onclick = function() {
	  modalThongbao.style.display = "none";
	}
	// Get the modal
	var modalNhiemVu = document.getElementById("myModalNhiemVu");

	// Get the <span> element that closes the modal
	var spanNhiemVu = document.getElementsByClassName("closeNhiemVu")[0];

	// When the user clicks on <span> (x), close the modal
	spanNhiemVu.onclick = function () {
		modalNhiemVu.style.display = "none";
	}
	function displayError(error){
		modalThongbao.style.display = "block";
		document.getElementById("modalHeader").style.backgroundColor = "red";
		document.getElementById("modalFooter").style.backgroundColor = "red";
		document.getElementById("countRedirect").style.display = "none";
		document.getElementById("noidung").innerHTML = error;
	}
	function displaySuccess(noidung){
		modalThongbao.style.display = "block";
		document.getElementById("modalHeader").style.backgroundColor = "#5cb85c";
		document.getElementById("modalFooter").style.backgroundColor = "#5cb85c";
		document.getElementById("noidung").innerHTML = noidung;
	}
	function confirm(){
		let reCaptchaResponse = grecaptcha.getResponse();
        if(reCaptchaResponse){
            $.getJSON("/Template/Verify?token=" + reCaptchaResponse,
                    function (data) {
                        if (data) {
                            confirm1();
                        }
                        else {
                            displayError("Thao tác không thật");
                        }
                    });
        }
	}
	function confirm1() {
		 
		var code = document.getElementById("codeInput").value;
		if(code == null || code == ""){
			displayError("Bạn chưa nhập mã code");
		}
		var tokenId = document.getElementById("tokenId").innerHTML;
		
		var campainId = document.getElementById("campainId").innerHTML;
		if (campainId == null || campainId == "") {
			displayError("Chiến dịch không tồn tại");
		}
		var clientInformation = getVisitorInfo();
		var postData = {
			"Code":code,
			"Token":tokenId,
			"CampainId":campainId,
			"UserAgent":clientInformation.userAgent,
			"DeviceScreen":clientInformation.screen
		};
		$.ajax({
			url: '@Html.Raw(ViewData["ApiUrl"])' + '/api/admin/codemanager/checkcode',
			type: 'POST',
			contentType: 'application/json',
			data: JSON.stringify(postData),
			success: function (result) {
				displaySuccess("Nhập code thành công");
				spanThongbao.style.display = "none"; 
				document.getElementById("closeThongBao").style.display = "none";
				document.getElementById("redirect").style.display = "none";
				document.getElementById("countRedirect").style.display = "block";
				let n = 3;
				document.getElementById("countRedirect").innerHTML = n;
				let t = setInterval(function(){
					n--;
					document.getElementById("countRedirect").innerHTML = n;
					if(n== 0){
						clearInterval(t)
						modalThongbao.style.display = "none";
						window.open(result,"_self");
					}
				},1e3)
							
			},
			error: function (error) {
				displayError(error.responseText);
				document.getElementById("redirect").style.display = "none";
			}
		});
	}
	function clickDoiNhiemVu() {
		modalNhiemVu.style.display = "block";
	}
	function closeDoiNhiemVu() {
		modalNhiemVu.style.display = "none";
	}
	function closeThongBao() {
		modalThongbao.style.display = "none";
	}
	function doiNhiemVu() {
		modalNhiemVu.style.display = "none";
		var tokenId = document.getElementById("tokenId").innerHTML;
		var postData = {
			"Token": tokenId,
		};
		$.ajax({
			url: '@Html.Raw(ViewData["ApiUrl"])' + '/api/admin/mission/changeMission',
			type: 'POST',
			contentType: 'application/json',
			data: JSON.stringify(postData),
			success: function (result) {
				window.location.reload();
			},
			error: function (error) {
				displayError(error.responseText);
				document.getElementById("redirect").style.display = "none";
			}
		});
	}
	function copyUrlFB() {
		// Get the text field
		var copyText = document.getElementById("linkFB");

		@* // Select the text field
		copyText.select();
		copyText.setSelectionRange(0, 99999); // For mobile devices *@

		// Copy the text inside the text field
		navigator.clipboard.writeText(copyText.innerHTML);
		document.getElementById("copyUrlFB").innerHTML = "Đã copy";
	}
	function copyKeyGoogle(){
		// Get the text field
		var copyText = document.getElementById("TK1");

	@* // Select the text field
			copyText.select();
			copyText.setSelectionRange(0, 99999); // For mobile devices *@

			// Copy the text inside the text field
			navigator.clipboard.writeText(copyText.innerHTML);
		document.getElementById("copyCode").innerHTML = "Đã Copy";
	}
	
	ajaxPost(
		'@Html.Raw(ViewData["ApiUrl"])' + "/api/admin/visitor",
		{
			...getVisitorInfo(),
			token: '@Html.Raw(ViewData["Id"])'
		},
		(result) => {
			if(result.success){
				
			}else{
				
			}
		})
</script>

